@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Store.WebAdmin</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Store.WebAdmin.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/layout/authen.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
</head>
<body>
	<div id="wrapper">
		<form action="/admin/thong-tin-dang-nhap" method="post" id="form-login">
			<h1 class="form-heading">
				Đăng nhập cho quản trị
			</h1>
			@if (ViewBag.ErrorMessage != null)
			{
			<div class="alert alert-danger">
			@ViewBag.ErrorMessage
			</div>
			}
			<p class="text-danger">*Vui lòng điền đầy đủ thông tin</p>
			<div class="form-group">
				<i class="far fa-user"></i>
				<input type="text" name="Username" class="form-input" value="" id="username" placeholder="Tên đăng nhập" />
			</div>
			<div class="form-group">
				<i class="fa fa-key"></i>
				<input type="password" name="Password" class="form-input" value="" placeholder="Mật khẩu" id="password-1" />
				<div id="eye-1">
					<i class="fa fa-eye"></i>
				</div>
			</div>
			<input type="submit" value="Đăng nhập" class="form-submit" disabled />
			<p class="option-authen">Bạn chưa có tài khoản ? <a href="/nguoi-dung/dang-ky">Đăng ký</a> </p>
		</form>
	</div>
	<script src="~/js/authen/signin.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
