<footer>
    <div class="foot">
        <div class="logo-foot">
            <a href="/">
                <i class="topzone-logo"></i>
            </a>
            <a href="/tekzone/khac-biet-aar-va-apr-tieu-chuan-cua-hang-uy-quyen-apple-1411356">
                <i class="topzone-autho"></i>
            </a>
        </div>
        <ul class="list-foot">
            <li>
                <span>Tổng đài</span>

                <a href="tel:1900969642">
                    <span>Mua hàng:</span>
                    <b>1900.9696.42</b>
                    (7:30 - 22:00)
                </a>
                <a href="tel:1900969642">
                    <span>Khiếu nại:</span>
                    <b>1900.9868.43</b>
                    (8:00 - 21:30)
                </a>

                <div class="footer-social">
                    <p class="txt">Kết nối với chúng tôi</p>
                    <a href="https://www.facebook.com/topzone.vn" target="_blank" class="link-social">
                        <i class="iconsocial-facebook"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCoWdPNr8jSr7JM0OFlKvQHw" target="_blank" class="link-social">
                        <i class="iconsocial-youtube"></i>
                    </a>
                    <a href="https://zalo.me/2040551312124557463" target="_blank" class="link-social">
                        <i class="iconsocial-zalo"></i>
                    </a>
                </div>

            </li>
            <li>
                <span>Hệ thống cửa hàng</span>
                <a href="/he-thong-cua-hang">
                    Xem 96 cửa hàng
                </a>
                <a href="/noi-quy-cua-hang">
                    Nội quy cửa hàng
                </a>
                <a href="/chat-luong-phuc-vu">
                    Chất lượng phục vụ
                </a>
                <a href="/bao-hanh-doi-tra">
                    Chính sách bảo hành &amp; đổi trả
                </a>
            </li>
            <li>
                <span>Hỗ trợ khách hàng</span>
                <a href="/dieu-kien-giao-dich">
                    Điều kiện giao dịch chung
                </a>
                <a href="/huong-dan-mua-hang">
                    Hướng dẫn mua hàng online
                </a>
                <a href="/giao-hang">
                    Chính sách giao hàng
                </a>
                <a href="/thanh-toan">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <span>Về thương hiệu TopZone</span>

                <a href="/tekzone/tat-tan-tat-thong-tin-ve-app-tich-diem-hoan-toan-moi-1480642#gioithieu" class="color-link">
                    Tích điểm Quà tặng VIP
                </a>
                <a href="/gioi-thieu">
                    Giới thiệu TopZone
                </a>
                <a href="https://www.thegioididong.com/b2b">
                    Bán hàng doanh nghiệp
                </a>
                <a href="/chinh-sach-xu-ly-du-lieu-ca-nhan">
                    Chính sách xử lý dữ liệu cá nhân
                </a>
                <a rel="nofollow" href="https://www.topzone.vn/iphone?gad_source=1&amp;gclid=cjwkcajw9iaybhbjeiwavuc3fijeanm_wkfmn5ggjaca0q_5hwuwsg7o-voieb_is9tqin3un4aichock2aqavd_bwe&amp;sclient=mobile">Xem bản mobile</a>
            </li>
            <li>
                <span>Trung tâm bảo hành TopCare</span>
                <a href="/topcare">
                    Giới thiệu TopCare
                </a>
            </li>
        </ul>
        <div class="text-cpr">
            <p>
                © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH &amp; ĐT TP.HCM cấp ngày 02/01/2007. <br>
                Địa chỉ: 128 Trần Quang Khải, P.Tân Định, Q.1, TP. Hồ Chí Minh. Điện thoại: 028 38125960. Địa chỉ liên hệ và gửi chứng từ: Lô T2-1.2, Đường D1, Đ. D1, P.Tân Phú, TP.Thủ Đức, TP.Hồ Chí Minh. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. Email: hotrotmdt@thegioididong.com.
            </p>
        </div>
        <div class="certify">
            <a href="http://online.gov.vn/Home/WebDetails/88735" target="_blank">
                <img class=" lazyloaded" data-src="//cdn.tgdd.vn/mwgcart/topzone/images/certify-bct.png" width="127" height="47" src="//cdn.tgdd.vn/mwgcart/topzone/images/certify-bct.png">
            </a>
            <a href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/topzonevn-1635823490" title="Chung nhan Tin Nhiem Mang" target="_blank">
                <img class=" lazyloaded" data-src="https://tinnhiemmang.vn/handle_cert?id=topzone.vn" width="150" height="40" alt="Chung nhan Tin Nhiem Mang" src="https://tinnhiemmang.vn/handle_cert?id=topzone.vn">
            </a>
            <a href="//www.dmca.com/Protection/Status.aspx?ID=4f44c8e7-b645-4ddb-8aec-c130d0598c85&amp;refurl=https://www.topzone.vn/iphone?gad_source=1&amp;gclid=CjwKCAjw9IayBhBJEiwAVuc3fijeANm_WKfmN5ggjAcA0Q_5hWUWsG7o-vOiEb_iS9tqIN3un4AIchoCk2AQAvD_BwE" target="_blank" title="DMCA.com Protection Status" class="dmca-badge">
                <img class=" lazyloaded" data-src="https://images.dmca.com/Badges/_dmca_premi_badge_4.png?ID=4f44c8e7-b645-4ddb-8aec-c130d0598c85" alt="DMCA.com Protection Status" width="135" height="32" aria-="" src="https://images.dmca.com/Badges/_dmca_premi_badge_4.png?ID=4f44c8e7-b645-4ddb-8aec-c130d0598c85">
            </a>
        </div>
    </div>
    <div class="footer__logo">
        <p class="footer__logo-hd">Ghé thăm các website khác cùng tập đoàn MWG</p>
        <ul class="footer__logo-list">
            <li>
                <a rel="nofollow" href="https://www.thegioididong.com/" target="_blank">
                    <i class="iconlogo-thegioididong"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.dienmayxanh.com/" target="_blank">
                    <i class="iconlogo-dienmayxanh"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.bachhoaxanh.com/" target="_blank">
                    <i class="iconlogo-bachhoaxanh"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.nhathuocankhang.com/" target="_blank" title="Chuỗi nhà thuốc chuẩn GPP">
                    <i class="iconlogo-ankhang"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://avakids.com/" target="_blank" title="Chuỗi cửa hàng mẹ và bé">
                    <i class="iconlogo-kids"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.4kfarm.com/" target="_blank" title="Nông trại rau sạch">
                    <i class="iconlogo-4kfarm"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://vieclam.thegioididong.com/" target="_blank" title="Trang tuyển dụng của tập đoàn Thế Giới Di Động">
                    <i class="iconlogo-vieclam"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>