@{
	var jwtToken = Context.Request.Cookies["jwt"];
}
<header class="">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="logo-topzone mt-2">
				<a href="/">
					<i class="topzone-logo  "></i>
				</a>
				<a href="/tekzone/khac-biet-aar-va-apr-tieu-chuan-cua-hang-uy-quyen-apple-1411356">
					<i class="topzone-autho  "></i>
				</a>
			</div>
			@* menu *@
			@await Component.InvokeAsync("Menu")
			<div class="search-cart mt-2">
				<div class="search-sp">
					<i class="topzone-search"></i>
				</div>
				<a href="/cart" class="cart">
					<i class="topzone-cart"></i>
				</a>
				@if (jwtToken != null)
				{
					<a href="/nguoi-dung/dang-xuat" class="cart">
						<i class="fa fa-user-check" style="text-align:center; color:white;"></i>
					</a>
				}
				else
				{
					<a href="/nguoi-dung/dang-nhap" class="cart">
						<i class="fa fa-user-times" style="text-align:center; color:white;"></i>
					</a>
				}
				<div class="view-cart">
					<i class="topzone-cohang"></i>
					<span>Đã thêm sản phẩm vào giỏ hàng</span>
					<a href="/cart">Xem giỏ hàng</a>
				</div>
			
			</div>
			@* search *@
			<form class="form-search mt-2" onsubmit="return false;">
			<div class="click-search">
			<i class="topzone-search"></i>
			<input type="text" id="searchKeyword" placeholder="Tìm kiếm sản phẩm">
			<i class="topzone-delSearch"></i>
			</div>
				
				<div class="sg-search " style="display: none;">
				</div>
			</form>
		</div>
		<div class="col-2"></div>
	</div>
</header>
