@* Views/Shared/_Header.cshtml *@
@model IEnumerable<Store.WebService.ViewModels.vmCategory>;
<ul class="menu" style="display: flex;flex-wrap: wrap;">
	@foreach (var menucate in Model)
	{
		<li class="menu-ip " style="flex:auto">
			<a href="/@menucate.Name">
				<span>@menucate.Name</span>
			</a>
		</li>
	}
</ul>
