
@{
    ViewData["Title"] = "FlashSale";
}

<div class=" flashsale-block    " id="flashsale">
    <div class="stage-two" style="display: none;"><div class="load"></div></div>
    <div class="flex-fs">
        <div class="gvdshock">
            <h3>
                <i class="lightning-ic">
                    <img width="32" height="70" src="//cdn.tgdd.vn/mwgcart/topzone/images/icon-fs.png" alt="lightningicon">
                </i>
            </h3>
            <div class="endtime" data-countdown="6/22/2024 11:59:00 PM" data-begin="6/22/2024 8:00:00 AM">
                <span class="title-end">Kết thúc trong</span>
                <span class="countdown-timer">
                    <label id="hour">04</label>
                    <label id="minute">54</label>
                    <label id="second">42</label>
                </span>
            </div>
        </div>
        <div class="listing-timeline">
            <a href="javascript:;" class="" data-ishappening="true" data-productlist="290053,314705,314708,316012,294103,251192,153856,305659,322636,325341,75430,291984,310642,310635,325330,325331,310633,325332,325333,325334,325335,325336,325337,325338,325339,325340,325342,242826">
                <span>Đang diễn ra</span>
                <span class="timeline">08:00 - 23:59</span>
            </a>
            <a href="javascript:;" class="active" data-productlist="290053,314705,314708,316012,294103,251192,153856,305659,322636,325341,75430,291984,310642,310635,325330,325331,310633,325332,325333,325334,325335,325336,325337,325338,325339,325340,325342,242826">
                <span>Ngày mai</span>
                <span class="timeline">08:00 - 23:59</span>
            </a>
        </div>
    </div>
    <div class="box-scroll">
        <div class="listproduct slider-flashsale owl-carousel owl-loaded owl-drag filtering" data-size="36">
          
                    
                   
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="310635" data-pos="14">
                            <a href="/hub-chuyen-doi/adapter-chuyen-doi-usb-type-c-4-in-1-hyperdrive-hd41?utm_flashsale=1" data-crm="1154671" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Adapter chuyển đổi USB Type C 4 in 1 HyperDrive HD41" data-id="310635" data-price="1400000.0" data-brand="Hyper" data-cate="Hub, cáp chuyển đổi" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/12979/310635/s16/adapter-chuyen-doi-usb-type-c-4-in-1-hyperdrive-hd41-thumb-label-650x650.png" class=" ls-is-cached lazyloaded" alt="Adapter chuyển đổi USB Type C 4 in 1 HyperDrive HD41" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/12979/310635/s16/adapter-chuyen-doi-usb-type-c-4-in-1-hyperdrive-hd41-thumb-label-650x650.png">
                                </div>
                                <h3>Adapter chuyển đổi USB Type C 4 in 1 HyperDrive HD41</h3>
                                <p class="price-old black">1.700.000₫</p>
                                <strong class="price">1.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325331" data-pos="16">
                            <a href="/loa/loa-bluetooth-marshall-emberton?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Emberton II" data-id="325331" data-price="4390000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325331/s16/loa-bluetooth-marshall-emberton-den-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Emberton II" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325331/s16/loa-bluetooth-marshall-emberton-den-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Emberton II</h3>
                                <p class="price-old black">4.990.000₫</p>
                                <strong class="price">4.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="310633" data-pos="17">
                            <a href="/adapter-sac/adapter-sac-2-cong-type-c-pd-qc3-0-gan-35w-hyperjuice-hjg35na?utm_flashsale=1" data-crm="1154670" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Adapter Sạc 2 cổng Type C PD QC3.0 GaN 35W HyperJuice HJG35NA" data-id="310633" data-price="690000.0" data-brand="Hyper" data-cate="Adapter sạc" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/9499/310633/s16/sac-2-cong-type-c-pd-qc3-0-gan-35w-hyperjuice-hjg35na-thumb-650x650.png" class=" ls-is-cached lazyloaded" alt="Adapter Sạc 2 cổng Type C PD QC3.0 GaN 35W HyperJuice HJG35NA" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/9499/310633/s16/sac-2-cong-type-c-pd-qc3-0-gan-35w-hyperjuice-hjg35na-thumb-650x650.png">
                                </div>
                                <h3>Adapter Sạc 2 cổng Type C PD QC3.0 GaN 35W HyperJuice HJG35NA</h3>
                                <p class="price-old black">850.000₫</p>
                                <strong class="price">xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325332" data-pos="18">
                            <a href="/loa/loa-bluetooth-marshall-middleton?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Middleton" data-id="325332" data-price="8090000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325332/s16/loa-bluetooth-marshall-middleton-den-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Middleton" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325332/s16/loa-bluetooth-marshall-middleton-den-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Middleton</h3>
                                <p class="price-old black">8.990.000₫</p>
                                <strong class="price">8.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325333" data-pos="19">
                            <a href="/loa/loa-bluetooth-marshall-stockwell-ii?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Stockwell II" data-id="325333" data-price="6020000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325333/s16/loa-bluetooth-marshall-stockwell-ii-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Stockwell II" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325333/s16/loa-bluetooth-marshall-stockwell-ii-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Stockwell II</h3>
                                <p class="price-old black">6.690.000₫</p>
                                <strong class="price">6.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325334" data-pos="20">
                            <a href="/loa/loa-bluetooth-marshall-kilburn-ii?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Kilburn II" data-id="325334" data-price="8090000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325334/s16/loa-bluetooth-marshall-kilburn-ii-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Kilburn II" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325334/s16/loa-bluetooth-marshall-kilburn-ii-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Kilburn II</h3>
                                <p class="price-old black">8.990.000₫</p>
                                <strong class="price">8.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="290053" data-pos="1">
                            <a href="/tai-nghe/airpods-3?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="AirPods 3 sạc Lightning" data-id="290053" data-price="4090000.0" data-brand="Apple" data-cate="Tai nghe" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/290053/s16/airpods-3-hop-sac-khong-day-thumb-650x650.png" class=" ls-is-cached lazyloaded" alt="AirPods 3 sạc Lightning" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/290053/s16/airpods-3-hop-sac-khong-day-thumb-650x650.png">
                                </div>
                                <h3>AirPods 3 sạc Lightning</h3>
                                <p class="price-old black">4.490.000₫</p>
                                <strong class="price">4.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="314705" data-pos="2">
                            <a href="/apple-watch/apple-watch-s9-41mm-vien-nhom-day-silicone?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Watch Series 9 GPS 41mm viền nhôm dây thể thao" data-id="314705" data-price="9890000.0" data-brand="Apple" data-cate="Watch" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/314705/s16/apple-watch-s9-41mm-vien-nhom-day-silicone-xanh-den-tn-650x650.png" class=" ls-is-cached lazyloaded" alt="Apple Watch Series 9 GPS 41mm viền nhôm dây thể thao" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/314705/s16/apple-watch-s9-41mm-vien-nhom-day-silicone-xanh-den-tn-650x650.png">
                                </div>
                                <h3>Apple Watch Series 9 GPS 41mm viền nhôm dây thể thao</h3>
                                <p class="price-old black">10.490.000₫</p>
                                <strong class="price">9.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="314708" data-pos="3">
                            <a href="/apple-watch/apple-watch-s9-45mm-vien-nhom-day-silicone?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Watch Series 9 GPS 45mm viền nhôm dây thể thao" data-id="314708" data-price="10690000.0" data-brand="Apple" data-cate="Watch" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/314708/s16/apple-watch-s9-45mm-vien-nhom-day-silicone-xanh-den-tn-650x650.png" class=" ls-is-cached lazyloaded" alt="Apple Watch Series 9 GPS 45mm viền nhôm dây thể thao" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/314708/s16/apple-watch-s9-45mm-vien-nhom-day-silicone-xanh-den-tn-650x650.png">
                                </div>
                                <h3>Apple Watch Series 9 GPS 45mm viền nhôm dây thể thao</h3>
                                <p class="price-old black">11.290.000₫</p>
                                <strong class="price">1x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="316012" data-pos="4">
                            <a href="/apple-watch/apple-watch-se-2023-gps-44mm-sport-band?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Watch SE 2023 GPS 44mm viền nhôm dây thể thao" data-id="316012" data-price="6890000.0" data-brand="Apple" data-cate="Watch" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/316012/s16/apple-watch-se-2023-gps-44mm-sport-band-den-thumb-650x650.png" class=" ls-is-cached lazyloaded" alt="Apple Watch SE 2023 GPS 44mm viền nhôm dây thể thao" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/316012/s16/apple-watch-se-2023-gps-44mm-sport-band-den-thumb-650x650.png">
                                </div>
                                <h3>Apple Watch SE 2023 GPS 44mm viền nhôm dây thể thao</h3>
                                <p class="price-old black">7.190.000₫</p>
                                <strong class="price">6.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="294103" data-pos="5">
                            <a href="/ipad/ipad-gen-10?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="iPad 10 WiFi 64GB" data-id="294103" data-price="10290000.0" data-brand="iPad (Apple)" data-cate="iPad" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/522/294103/s16/iPad-gen-10-sliver-1-650x650.png" class=" ls-is-cached lazyloaded" alt="iPad 10 WiFi 64GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/522/294103/s16/iPad-gen-10-sliver-1-650x650.png">
                                </div>
                                <h3>iPad 10 WiFi 64GB</h3>
                                <p class="price-old black">11.490.000₫</p>
                                <strong class="price">1x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="251192" data-pos="6">
                            <a href="/iphone/iphone-14-pro-max?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iPhone 14 Pro Max" data-id="251192" data-price="26990000.0" data-brand="iPhone (Apple)" data-cate="iPhone" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/251192/s16/iphone-14-pro-max-purple-650x650.png" class=" ls-is-cached lazyloaded" alt="iPhone 14 Pro Max 128GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/251192/s16/iphone-14-pro-max-purple-650x650.png">
                                </div>
                                <h3>iPhone 14 Pro Max 128GB</h3>
                                <p class="price-old black">29.490.000₫</p>
                                <strong class="price">2x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="153856" data-pos="7">
                            <a href="/iphone/iphone-11?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iPhone 11" data-id="153856" data-price="8590000.0" data-brand="iPhone (Apple)" data-cate="iPhone" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/153856/s16/iphone-11-white-1-2-3-650x650.png" class=" ls-is-cached lazyloaded" alt="iPhone 11 64GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/153856/s16/iphone-11-white-1-2-3-650x650.png">
                                </div>
                                <h3>iPhone 11 64GB</h3>
                                <p class="price-old black">11.790.000₫</p>
                                <strong class="price">8.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="305659" data-pos="8">
                            <a href="/iphone/iphone-15-pro-max-512gb?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iPhone 15 Pro Max 512GB" data-id="305659" data-price="36690000.0" data-brand="iPhone (Apple)" data-cate="iPhone" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/305659/s16/iphone-15-pro-max-black-1-2-650x650.png" class=" ls-is-cached lazyloaded" alt="iPhone 15 Pro Max 512GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/305659/s16/iphone-15-pro-max-black-1-2-650x650.png">
                                </div>
                                <h3>iPhone 15 Pro Max 512GB</h3>
                                <p class="price-old black">40.990.000₫</p>
                                <strong class="price">3x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div><div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="322636" data-pos="9">
                            <a href="/mac/macbook-air-15-inch-m3-2024-16gb-256gb?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M3" data-id="322636" data-price="37290000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/44/322636/s16/macbook-air-15-inch-m3-2024-xam-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 15 inch M3 16GB/256GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/44/322636/s16/macbook-air-15-inch-m3-2024-xam-650x650.png">
                                </div>
                                <h3>MacBook Air 15 inch M3 16GB/256GB</h3>
                                <p class="price-old black">37.990.000₫</p>
                                <strong class="price">3x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325341" data-pos="10">
                            <a href="/tai-nghe/tai-nghe-bluetooth-chup-tai-marshall-major-iv?utm_flashsale=1" data-crm="1154703" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Tai nghe Bluetooth chụp tai Marshall Major IV" data-id="325341" data-price="3640000.0" data-brand="Marshall" data-cate="Tai nghe" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/325341/s16/tai-nghe-bluetooth-chup-tai-marshall-major-iv-den-1-650x650.png" class=" ls-is-cached lazyloaded" alt="Tai nghe Bluetooth chụp tai Marshall Major IV" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/325341/s16/tai-nghe-bluetooth-chup-tai-marshall-major-iv-den-1-650x650.png">
                                </div>
                                <h3>Tai nghe Bluetooth chụp tai Marshall Major IV</h3>
                                <p class="price-old black">4.290.000₫</p>
                                <strong class="price">3.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="75430" data-pos="11">
                            <a href="/tai-nghe/tai-nghe-sony-mdr-zx110ap?utm_flashsale=1" data-crm="1154692" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Tai nghe chụp tai Sony MDR-ZX110AP" data-id="75430" data-price="430000.0" data-brand="Sony" data-cate="Tai nghe" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/75430/s16/tai-nghe-sony-mdr-zx110ap-den-tn-650x650.png" class=" ls-is-cached lazyloaded" alt="Tai nghe chụp tai Sony MDR-ZX110AP" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/75430/s16/tai-nghe-sony-mdr-zx110ap-den-tn-650x650.png">
                                </div>
                                <h3>Tai nghe chụp tai Sony MDR-ZX110AP</h3>
                                <p class="price-old black">540.000₫</p>
                                <strong class="price">xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="291984" data-pos="12">
                            <a href="/sac-du-phong/sac-du-phong-polymer-5000mah-magnetic-type-c-anker-maggo-a1611?utm_flashsale=1" data-crm="1154650" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Pin sạc dự phòng Polymer 5000mAh không dây Magnetic Type C 12W Anker MagGo A1611" data-id="291984" data-price="870000.0" data-brand="Anker" data-cate="Sạc dự phòng" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/57/291984/s16/sac-du-phong-polymer-5000mah-magnetic-type-c-anker-maggo-a1611-trang-thumb-5-1-650x650.png" class=" ls-is-cached lazyloaded" alt="Pin sạc dự phòng Polymer 5000mAh không dây Magnetic Type C 12W Anker MagGo A1611" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/57/291984/s16/sac-du-phong-polymer-5000mah-magnetic-type-c-anker-maggo-a1611-trang-thumb-5-1-650x650.png">
                                </div>
                                <h3>Pin sạc dự phòng Polymer 5000mAh không dây Magnetic Type C 12W Anker MagGo A1611</h3>
                                <p class="price-old black">1.280.000₫</p>
                                <strong class="price">xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item active" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="310642" data-pos="13">
                            <a href="/hub-chuyen-doi/adapter-chuyen-doi-usb-c-5-in-1-mazer-uc2multi7001c?utm_flashsale=1" data-crm="1154673" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Adapter chuyển đổi USB C 5 in 1 Mazer UC2MULTI7001C" data-id="310642" data-price="650000.0" data-brand="Mazer" data-cate="Hub, cáp chuyển đổi" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/12979/310642/s16/adapter-chuyen-doi-usb-c-5-in-1-mazer-uc2multi7001c-thumb-650x650.png" class=" ls-is-cached lazyloaded" alt="Adapter chuyển đổi USB C 5 in 1 Mazer UC2MULTI7001C" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/12979/310642/s16/adapter-chuyen-doi-usb-c-5-in-1-mazer-uc2multi7001c-thumb-650x650.png">
                                </div>
                                <h3>Adapter chuyển đổi USB C 5 in 1 Mazer UC2MULTI7001C</h3>
                                <p class="price-old black">900.000₫</p>
                                <strong class="price">xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item active" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="310635" data-pos="14">
                            <a href="/hub-chuyen-doi/adapter-chuyen-doi-usb-type-c-4-in-1-hyperdrive-hd41?utm_flashsale=1" data-crm="1154671" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Adapter chuyển đổi USB Type C 4 in 1 HyperDrive HD41" data-id="310635" data-price="1400000.0" data-brand="Hyper" data-cate="Hub, cáp chuyển đổi" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/12979/310635/s16/adapter-chuyen-doi-usb-type-c-4-in-1-hyperdrive-hd41-thumb-label-650x650.png" class=" ls-is-cached lazyloaded" alt="Adapter chuyển đổi USB Type C 4 in 1 HyperDrive HD41" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/12979/310635/s16/adapter-chuyen-doi-usb-type-c-4-in-1-hyperdrive-hd41-thumb-label-650x650.png">
                                </div>
                                <h3>Adapter chuyển đổi USB Type C 4 in 1 HyperDrive HD41</h3>
                                <p class="price-old black">1.700.000₫</p>
                                <strong class="price">1.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item active" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325330" data-pos="15">
                            <a href="/loa/loa-bluetooth-marshall-willen?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Willen" data-id="325330" data-price="2510000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325330/s16/loa-bluetooth-marshall-willen-kem-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Willen" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325330/s16/loa-bluetooth-marshall-willen-kem-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Willen</h3>
                                <p class="price-old black">2.790.000₫</p>
                                <strong class="price">2.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item active" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325331" data-pos="16">
                            <a href="/loa/loa-bluetooth-marshall-emberton?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Emberton II" data-id="325331" data-price="4390000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325331/s16/loa-bluetooth-marshall-emberton-den-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Emberton II" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325331/s16/loa-bluetooth-marshall-emberton-den-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Emberton II</h3>
                                <p class="price-old black">4.990.000₫</p>
                                <strong class="price">4.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div
                    ><div class="owl-item active" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="310633" data-pos="17">
                            <a href="/adapter-sac/adapter-sac-2-cong-type-c-pd-qc3-0-gan-35w-hyperjuice-hjg35na?utm_flashsale=1" data-crm="1154670" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Adapter Sạc 2 cổng Type C PD QC3.0 GaN 35W HyperJuice HJG35NA" data-id="310633" data-price="690000.0" data-brand="Hyper" data-cate="Adapter sạc" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/9499/310633/s16/sac-2-cong-type-c-pd-qc3-0-gan-35w-hyperjuice-hjg35na-thumb-650x650.png" class=" ls-is-cached lazyloaded" alt="Adapter Sạc 2 cổng Type C PD QC3.0 GaN 35W HyperJuice HJG35NA" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/9499/310633/s16/sac-2-cong-type-c-pd-qc3-0-gan-35w-hyperjuice-hjg35na-thumb-650x650.png">
                                </div>
                                <h3>Adapter Sạc 2 cổng Type C PD QC3.0 GaN 35W HyperJuice HJG35NA</h3>
                                <p class="price-old black">850.000₫</p>
                                <strong class="price">xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item active" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325332" data-pos="18">
                            <a href="/loa/loa-bluetooth-marshall-middleton?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Middleton" data-id="325332" data-price="8090000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325332/s16/loa-bluetooth-marshall-middleton-den-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Middleton" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325332/s16/loa-bluetooth-marshall-middleton-den-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Middleton</h3>
                                <p class="price-old black">8.990.000₫</p>
                                <strong class="price">8.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325333" data-pos="19">
                            <a href="/loa/loa-bluetooth-marshall-stockwell-ii?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Stockwell II" data-id="325333" data-price="6020000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325333/s16/loa-bluetooth-marshall-stockwell-ii-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Stockwell II" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325333/s16/loa-bluetooth-marshall-stockwell-ii-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Stockwell II</h3>
                                <p class="price-old black">6.690.000₫</p>
                                <strong class="price">6.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325334" data-pos="20">
                            <a href="/loa/loa-bluetooth-marshall-kilburn-ii?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="Loa Bluetooth Marshall Kilburn II" data-id="325334" data-price="8090000.0" data-brand="Marshall" data-cate="Loa" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325334/s16/loa-bluetooth-marshall-kilburn-ii-650x650.png" class=" ls-is-cached lazyloaded" alt="Loa Bluetooth Marshall Kilburn II" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/2162/325334/s16/loa-bluetooth-marshall-kilburn-ii-650x650.png">
                                </div>
                                <h3>Loa Bluetooth Marshall Kilburn II</h3>
                                <p class="price-old black">8.990.000₫</p>
                                <strong class="price">8.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="290053" data-pos="1">
                            <a href="/tai-nghe/airpods-3?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="AirPods 3 sạc Lightning" data-id="290053" data-price="4090000.0" data-brand="Apple" data-cate="Tai nghe" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/290053/s16/airpods-3-hop-sac-khong-day-thumb-650x650.png" class=" ls-is-cached lazyloaded" alt="AirPods 3 sạc Lightning" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/290053/s16/airpods-3-hop-sac-khong-day-thumb-650x650.png">
                                </div>
                                <h3>AirPods 3 sạc Lightning</h3>
                                <p class="price-old black">4.490.000₫</p>
                                <strong class="price">4.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="314705" data-pos="2">
                            <a href="/apple-watch/apple-watch-s9-41mm-vien-nhom-day-silicone?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Watch Series 9 GPS 41mm viền nhôm dây thể thao" data-id="314705" data-price="9890000.0" data-brand="Apple" data-cate="Watch" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/314705/s16/apple-watch-s9-41mm-vien-nhom-day-silicone-xanh-den-tn-650x650.png" class=" ls-is-cached lazyloaded" alt="Apple Watch Series 9 GPS 41mm viền nhôm dây thể thao" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/314705/s16/apple-watch-s9-41mm-vien-nhom-day-silicone-xanh-den-tn-650x650.png">
                                </div>
                                <h3>Apple Watch Series 9 GPS 41mm viền nhôm dây thể thao</h3>
                                <p class="price-old black">10.490.000₫</p>
                                <strong class="price">9.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="314708" data-pos="3">
                            <a href="/apple-watch/apple-watch-s9-45mm-vien-nhom-day-silicone?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Watch Series 9 GPS 45mm viền nhôm dây thể thao" data-id="314708" data-price="10690000.0" data-brand="Apple" data-cate="Watch" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/314708/s16/apple-watch-s9-45mm-vien-nhom-day-silicone-xanh-den-tn-650x650.png" class=" ls-is-cached lazyloaded" alt="Apple Watch Series 9 GPS 45mm viền nhôm dây thể thao" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/314708/s16/apple-watch-s9-45mm-vien-nhom-day-silicone-xanh-den-tn-650x650.png">
                                </div>
                                <h3>Apple Watch Series 9 GPS 45mm viền nhôm dây thể thao</h3>
                                <p class="price-old black">11.290.000₫</p>
                                <strong class="price">1x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="316012" data-pos="4">
                            <a href="/apple-watch/apple-watch-se-2023-gps-44mm-sport-band?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="Apple Watch SE 2023 GPS 44mm viền nhôm dây thể thao" data-id="316012" data-price="6890000.0" data-brand="Apple" data-cate="Watch" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/316012/s16/apple-watch-se-2023-gps-44mm-sport-band-den-thumb-650x650.png" class=" ls-is-cached lazyloaded" alt="Apple Watch SE 2023 GPS 44mm viền nhôm dây thể thao" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/316012/s16/apple-watch-se-2023-gps-44mm-sport-band-den-thumb-650x650.png">
                                </div>
                                <h3>Apple Watch SE 2023 GPS 44mm viền nhôm dây thể thao</h3>
                                <p class="price-old black">7.190.000₫</p>
                                <strong class="price">6.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="294103" data-pos="5">
                            <a href="/ipad/ipad-gen-10?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="iPad 10 WiFi 64GB" data-id="294103" data-price="10290000.0" data-brand="iPad (Apple)" data-cate="iPad" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/522/294103/s16/iPad-gen-10-sliver-1-650x650.png" class=" ls-is-cached lazyloaded" alt="iPad 10 WiFi 64GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/522/294103/s16/iPad-gen-10-sliver-1-650x650.png">
                                </div>
                                <h3>iPad 10 WiFi 64GB</h3>
                                <p class="price-old black">11.490.000₫</p>
                                <strong class="price">1x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="251192" data-pos="6">
                            <a href="/iphone/iphone-14-pro-max?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iPhone 14 Pro Max" data-id="251192" data-price="26990000.0" data-brand="iPhone (Apple)" data-cate="iPhone" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/251192/s16/iphone-14-pro-max-purple-650x650.png" class=" ls-is-cached lazyloaded" alt="iPhone 14 Pro Max 128GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/251192/s16/iphone-14-pro-max-purple-650x650.png">
                                </div>
                                <h3>iPhone 14 Pro Max 128GB</h3>
                                <p class="price-old black">29.490.000₫</p>
                                <strong class="price">2x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="305659" data-pos="8">
                            <a href="/iphone/iphone-15-pro-max-512gb?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="Nomal" data-site="16" data-pro="3" data-cache="True" data-name="iPhone 15 Pro Max 512GB" data-id="305659" data-price="36690000.0" data-brand="iPhone (Apple)" data-cate="iPhone" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/305659/s16/iphone-15-pro-max-black-1-2-650x650.png" class=" ls-is-cached lazyloaded" alt="iPhone 15 Pro Max 512GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/305659/s16/iphone-15-pro-max-black-1-2-650x650.png">
                                </div>
                                <h3>iPhone 15 Pro Max 512GB</h3>
                                <p class="price-old black">40.990.000₫</p>
                                <strong class="price">3x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="322636" data-pos="9">
                            <a href="/mac/macbook-air-15-inch-m3-2024-16gb-256gb?utm_flashsale=1" data-crm="0" class=" main-contain" data-s="TwoPriceDetail" data-site="16" data-pro="3" data-cache="True" data-name="MacBook Air 15 inch M3" data-id="322636" data-price="37290000.0" data-brand="MacBook" data-cate="MacBook" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/44/322636/s16/macbook-air-15-inch-m3-2024-xam-650x650.png" class=" ls-is-cached lazyloaded" alt="MacBook Air 15 inch M3 16GB/256GB" width="207" height="207" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/44/322636/s16/macbook-air-15-inch-m3-2024-xam-650x650.png">
                                </div>
                                <h3>MacBook Air 15 inch M3 16GB/256GB</h3>
                                <p class="price-old black">37.990.000₫</p>
                                <strong class="price">3x.xx0.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="owl-item cloned" style="min-width: 240.667px;min-height=370">
                        <div class="item" data-id="325341" data-pos="10">
                            <a href="/tai-nghe/tai-nghe-bluetooth-chup-tai-marshall-major-iv?utm_flashsale=1" data-crm="1154703" class=" main-contain" data-s="TwoPriceDetailCMS" data-site="16" data-pro="3" data-cache="True" data-name="Tai nghe Bluetooth chụp tai Marshall Major IV" data-id="325341" data-price="3640000.0" data-brand="Marshall" data-cate="Tai nghe" data-box="BoxHomeFlashsale" data-pos="0">
                                <div class="item-img">
                                    <img data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/54/325341/s16/tai-nghe-bluetooth-chup-tai-marshall-major-iv-den-1-650x650.png" class="lazyload" alt="Tai nghe Bluetooth chụp tai Marshall Major IV" width="207" height="207">
                                </div>
                                <h3>Tai nghe Bluetooth chụp tai Marshall Major IV</h3>
                                <p class="price-old black">4.290.000₫</p>
                                <strong class="price">3.xxx.000đ</strong>

                                <span class="rq_count upcomming">
                                    <b>Sắp mở bán</b>
                                </span>
                            </a>

                        </div>
                    </div>
                </div>
           
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
       
        $(document).ready(function () {
           
            $('.filtering').slick({
                slidesToShow: 4,
                slidesToScroll: 2,
                arrows: true,
                autoplay: true,
                autoplaySpeed: 2000,
            });
            $('.filtering').on('setPosition', function () {
                $('.slick-slide.slick-cloned').each(function () {
                    var innerWidth = $(this).find('.owl-item.cloned').css('max-width');
                    $(this).css('width', innerWidth);
                });
            });


        });


    </script>
}
