@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css//layout/authen.css" asp-append-version="true" />
<div id="wrapper">
	<form action="/nguoi-dung/thong-tin-dang-nhap" method="post" id="form-login">
		<h1 class="form-heading">
			Trang bạn tìm kiếm không tồn tại
		</h1>
		<a href="/">Quay về trang chủ</a>
		<div class="image-container">
			<img width="200px" height="200px" class="lazyload" data-src="https://i.gifer.com/ZZ5H.gif" />
		</div>
	</form>
</div>