@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="policy">
    <ul class="pr-policy">
        <li>
            <i class="topzone-homeDiver  "></i>
            <span>Mẫu mã đa dạng, <br>chính hãng</span>
        </li>
        <li>
            <i class="topzone-homeDeli  "></i>
            <span>Giao hàng toàn quốc</span>
        </li>
        <li>
            <i class="topzone-homeInsur  "></i>
            <span>Bảo hành có cam kết <br>tới 12 tháng</span>
        </li>
        <li>
            <i class="topzone-homeReturn  "></i>
            <span>Có thể đổi trả tại <br>Thegioididong và DienmayXANH</span>
        </li>
    </ul>
</div>
