@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="descrip">
        <strong class="combo-title sg-access" style="margin-top:20px">Xem thêm loa khác</strong>
        <div class="access-sg owl-carousel owl-loaded  filtering">

            <div class="owl-item active slidenumber10" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-jbl-go-4">
                        <div class="img-access-sg">
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/2162/326193/s16/loa-bluetooth-jbl-go-4-thumb-650x650.png" alt="Loa Bluetooth JBL Go 4" src="https://cdn.tgdd.vn/Products/Images/2162/326193/s16/loa-bluetooth-jbl-go-4-thumb-650x650.png">
                        </div>
                        <h3>Loa Bluetooth JBL Go 4</h3>
                        <span>
                            <b>1.090.000₫</b>
                        </span>
                    </a>
                </div>
            </div>
            <div class="owl-item active slidenumber11" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-monster-superstar-s320">
                        <div class="img-access-sg">
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/2162/302671/s16/loa-bluetooth-monster-superstar-s320-thumb-650x650.png" alt="Loa Bluetooth Monster Superstar S320" src="https://cdn.tgdd.vn/Products/Images/2162/302671/s16/loa-bluetooth-monster-superstar-s320-thumb-650x650.png">
                        </div>
                        <h3>Loa Bluetooth Monster Superstar S320</h3>
                        <span>
                            <b>1.690.000₫</b> <strike>1.900.000₫</strike> -11%
                        </span>
                    </a>
                </div>
            </div>
            <div class="owl-item active slidenumber12" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-marshall-willen">
                        <div class="img-access-sg">
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/2162/325330/s16/loa-bluetooth-marshall-willen-kem-650x650.png" alt="Loa Bluetooth Marshall Willen" src="https://cdn.tgdd.vn/Products/Images/2162/325330/s16/loa-bluetooth-marshall-willen-kem-650x650.png">
                        </div>
                        <h3>Loa Bluetooth Marshall Willen</h3>
                        <span>
                            <b>2.510.000₫</b> <strike>2.790.000₫</strike> -10%
                        </span>
                    </a>
                </div>
            </div>
            <div class="owl-item active slidenumber13" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-jbl-flip-6">
                        <div class="img-access-sg">
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/2162/286271/s16/loa-bluetooth-jbl-flip-6-xanh-tn-650x650.png" alt="Loa Bluetooth JBL Flip 6" src="https://cdn.tgdd.vn/Products/Images/2162/286271/s16/loa-bluetooth-jbl-flip-6-xanh-tn-650x650.png">
                        </div>
                        <h3>Loa Bluetooth JBL Flip 6</h3>
                        <span>
                            <b>2.840.000₫</b> <strike>2.990.000₫</strike> -5%
                        </span>
                    </a>
                </div>
            </div>
            <div class="owl-item slidenumber14" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-jbl-charge-5">
                        <div class="img-access-sg">
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/2162/251230/s16/bluetooth-jbl-charge-5-xanh-tn-650x650.png" alt="Loa Bluetooth JBL Charge 5" src="https://cdn.tgdd.vn/Products/Images/2162/251230/s16/bluetooth-jbl-charge-5-xanh-tn-650x650.png">
                        </div>
                        <h3>Loa Bluetooth JBL Charge 5</h3>
                        <span>
                            <b>3.790.000₫</b> <strike>3.990.000₫</strike> -5%
                        </span>
                    </a>
                </div>
            </div><div class="owl-item slidenumber15" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-harman-kardon-luna">
                        <div class="img-access-sg">
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/2162/319700/s16/loa-bluetooth-harman-kardon-luna-xam-tb-650x650.png" alt="Loa Bluetooth Harman Kardon Luna" src="https://cdn.tgdd.vn/Products/Images/2162/319700/s16/loa-bluetooth-harman-kardon-luna-xam-tb-650x650.png">
                        </div>
                        <h3>Loa Bluetooth Harman Kardon Luna</h3>
                        <span>
                            <b>4.090.000₫</b> <strike>4.290.000₫</strike>
                        </span>
                    </a>
                </div>
            </div><div class="owl-item slidenumber16" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-marshall-emberton">
                        <div class="img-access-sg">
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/2162/325331/s16/loa-bluetooth-marshall-emberton-den-650x650.png" alt="Loa Bluetooth Marshall Emberton II" src="https://cdn.tgdd.vn/Products/Images/2162/325331/s16/loa-bluetooth-marshall-emberton-den-650x650.png">
                        </div>
                        <h3>Loa Bluetooth Marshall Emberton II</h3>
                        <span>
                            <b>4.490.000₫</b> <strike>4.990.000₫</strike> -10%
                        </span>
                    </a>
                </div>
            </div><div class="owl-item slidenumber17" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-klipsch-promedia-heritage-2-1-walnut">
                        <div class="img-access-sg">
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/2162/304563/s16/loa-bluetooth-klipsch-promedia-heritage-2-1-walnut-thumb-650x650.png" alt="Loa Bluetooth Klipsch Promedia Heritage 2.1 Walnut" src="https://cdn.tgdd.vn/Products/Images/2162/304563/s16/loa-bluetooth-klipsch-promedia-heritage-2-1-walnut-thumb-650x650.png">
                        </div>
                        <h3>Loa Bluetooth Klipsch Promedia Heritage 2.1 Walnut</h3>
                        <span>
                            <b>5.890.000₫</b> <strike>7.700.000₫</strike> -23%
                        </span>
                    </a>
                </div>
            </div><div class="owl-item slidenumber18" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-jbl-pulse-5">
                        <div class="img-access-sg">
                            <img class="lazyload" data-src="https://cdn.tgdd.vn/Products/Images/2162/299608/s16/loa-bluetooth-jbl-pulse-5-thumb-1-650x650.png" alt="Loa Bluetooth JBL Pulse 5">
                        </div>
                        <h3>Loa Bluetooth JBL Pulse 5</h3>
                        <span>
                            <b>6.350.000₫</b> <strike>6.690.000₫</strike> -5%
                        </span>
                    </a>
                </div>
            </div>
            <div class="owl-item slidenumber19" style="width: 300px;">
                <div class="item">
                    <a href="/loa/loa-bluetooth-harman-kardon-onyx-studio-8">
                        <div class="img-access-sg">
                            <img class="lazyload" data-src="https://cdn.tgdd.vn/Products/Images/2162/293654/s16/loa-bluetooth-harman-kardon-onyx-studio-8-den-tn-650x650.png" alt="Loa Bluetooth Harman Kardon Onyx Studio 8">
                        </div>
                        <h3>Loa Bluetooth Harman Kardon Onyx Studio 8</h3>
                        <span>
                            <b>6.490.000₫</b> <strike>6.990.000₫</strike> -7%
                        </span>
                    </a>
                </div>
            </div>

        </div>
        <div class="border7"></div>


        <div class="tabs">
            <h2 class="tab-link current" data-tab="tab-1">Mô tả</h2>
            <h2 class="tab-link " data-tab="tab-2">Thông số kỹ thuật</h2>
        </div>




        <div class="specifications tab-content " id="tab-2">
            <div class="box-specifi ">
                <a href="javascript:;" class="active" data-group-id="2661" data-index="1"><h3>Thông tin chung</h3></a>

                <ul class="text-specifi active">
                    <li>
                        <aside>
                            <strong>Loại sản phẩm:</strong>
                        </aside>
                        <aside>
                            <span class="">Loa bluetooth</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Tổng công suất:</strong>
                        </aside>
                        <aside>
                            <span class="">4.2 W</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Nguồn:</strong>
                        </aside>
                        <aside>
                            <span class="">Pin</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Thời gian sử dụng:</strong>
                        </aside>
                        <aside>
                            <span class="">Dùng 4 - 5 tiếng</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Thời gian sạc:</strong>
                        </aside>
                        <aside>
                            <span class="">Sạc khoảng 2.5 tiếng</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Công nghệ âm thanh:</strong>
                        </aside>
                        <aside>
                            <span class="">JBL Pro Sound</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Phím điều khiển:</strong>
                        </aside>
                        <aside>
                            <span class="comma">Bật/tắt bluetooth</span>
                            <span class="comma">Nút nguồn</span>
                            <span class="comma">Phát/dừng chơi nhạc</span>
                            <span class="">Tăng/giảm âm lượng</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Tiện ích:</strong>
                        </aside>
                        <aside>
                            <span class="">Chống nước, chống bụi IP67</span>
                        </aside>
                    </li>
                </ul>
            </div>
            <div class="box-specifi ">
                <a href="javascript:;" class="active" data-group-id="2821" data-index="2"><h3>Kết nối</h3></a>

                <ul class="text-specifi active">
                    <li>
                        <aside>
                            <strong>Kết nối không dây:</strong>
                        </aside>
                        <aside>
                            <span class="">Bluetooth 5.1</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Cổng sạc:</strong>
                        </aside>
                        <aside>
                            <span class="">Type-C</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Khoảng cách kết nối tối đa:</strong>
                        </aside>
                        <aside>
                            <span class="">10 m</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Điều khiển bằng điện thoại:</strong>
                        </aside>
                        <aside>
                            <span class="">Có</span>
                        </aside>
                    </li>
                </ul>
            </div>
            <div class="box-specifi ">
                <a href="javascript:;" class="" data-group-id="2841" data-index="3"><h3>Thông tin sản phẩm</h3></a>

                <ul class="text-specifi ">
                    <li>
                        <aside>
                            <strong>Kích thước:</strong>
                        </aside>
                        <aside>
                            <span class="">Ngang 12.5 cm - Sâu 4.1 cm - Cao 7.5 cm - Nặng 0.2 kg</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Thương hiệu của:</strong>
                        </aside>
                        <aside>
                            <span class="">Mỹ</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Chất liệu:</strong>
                        </aside>
                        <aside>
                            <span class="">Chất liệu nhựa cao cấp và sợi tổng hợp dệt</span>
                        </aside>
                    </li>
                    <li>
                        <aside>
                            <strong>Sản xuất tại:</strong>
                        </aside>
                        <aside>
                            <span class="">Trung Quốc</span>
                        </aside>
                    </li>
                </ul>
            </div>
        </div>


        <div class="description tab-content current short" id="tab-1">
            <div class="text-detail ">
                <h3><strong>Thiết kế nhỏ gọn, thời trang với logo hãng được in nổi bật</strong></h3><p><a href="https://www.topzone.vn/am-thanh/bluetooth-jbl-go-3-xanh-den" target="_blank" title="Loa Bluetooth JBL Go 3">Loa Bluetooth JBL Go 3</a>&nbsp;phong cách trẻ trung,&nbsp;thiết kế nhỏ gọn, sang trọng, dễ mang theo. Được phủ bằng lớp nhựa bền bỉ và lớp cao su đàn hồi tốt,&nbsp;loa JBL&nbsp;được bảo vệ an toàn khỏi các va chạm và bám dính tốt trên mặt bàn.</p><p><img alt="Loa Bluetooth JBL Go 3 - Thiết kế nhỏ gọn" data-src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-2-1.jpg" class=" lazyloaded" title="Loa Bluetooth JBL Go 3 - Thiết kế nhỏ gọn" src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-2-1.jpg"></p><h3><strong>Công suất&nbsp;4.2 W, công nghệ âm thanh JBL Pro Sound độc quyền</strong></h3><p>Công suất&nbsp;4.2 W&nbsp;và công nghệ JBL Pro Sound cho âm thanh mạnh mẽ, sống động nhờ đó mang đến không gian và trải nghiệm âm nhạc thật lý thú cho bạn.</p><p><img alt="Loa Bluetooth JBL Go 3 - Chất âm sống động" data-src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-4-1.jpg" class=" lazyloaded" title="Loa Bluetooth JBL Go 3 - Chất âm sống động" src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-4-1.jpg"></p><h3><strong>Kết nối nhanh và ổn định hơn trong phạm vi 10 m</strong></h3><p>Dễ dàng kết nối loa với điện thoại, laptop,... nhờ vào công nghệ&nbsp;Bluetooth 5.1 nhanh nhạy, mượt mà và ổn định, khoảng cách kết nối đến&nbsp;10m.&nbsp;</p><p><img alt="Loa Bluetooth JBL Go 3  - Kết nối mạnh mẽ" data-src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-3-1.jpg" class=" lazyloaded" title="Loa Bluetooth JBL Go 3  - Kết nối mạnh mẽ" src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-3-1.jpg"></p><h3><strong>An tâm sử dụng loa với chuẩn chống nước và bụi chuẩn IP67</strong>&nbsp;</h3><p><a href="https://www.topzone.vn/am-thanh-jbl" target="_blank" title="Xem thêm loa JBL đang bán tại TopZone">Loa JBL</a>&nbsp;không lo hư hại do ẩm ướt mồ hôi, ẩm ướt từ mặt sàn sử dụng, hay vô tình gặp nước tạt, trượt rớt, va chạm nhờ&nbsp;chuẩn kháng bụi và nước IP67, bạn hoàn toàn thoải mái lựa chọn sử dụng loa tại những vị trí mà bạn mong muốn.</p><p><img alt="Loa Bluetooth JBL Go 3 - Chuẩn chống nước IP67" data-src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-1-1.jpg" class=" lazyloaded" title="Loa Bluetooth JBL Go 3 - Chuẩn chống nước IP67" src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-1-1.jpg"></p><h3><strong>Viên pin dung lượng lớn, dùng liên tục 5 giờ sau 2.5 giờ sạc đầy</strong></h3><p>Thoả sức sử dụng không lo bị gián đoạn khi&nbsp;<a href="https://www.topzone.vn/am-thanh" target="_blank" title="Xem thêm loa đang bán tại TopZone">loa</a>&nbsp;có thời lượng pin tốt, cho phép bạn dùng liên tục đến 5 giờ&nbsp;mà chỉ mất 2.5 giờ&nbsp;sạc đầy thông qua cổng sạc Type-C.</p><p><img alt="Loa Bluetooth JBL Go 3 - Viên pin lớn" data-src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-1.jpg" class=" lazyloaded" title="Loa Bluetooth JBL Go 3 - Viên pin lớn" src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-den-1.jpg"></p>

                <!-- Khảo sát -->
                <div class="survey-wrap">

                    <div class="crm-survey-render" data-type="QUESTION_FORM" data-applicationid="1" data-programid="447" data-attributeid-2="" data-programcode="7FAF6E1E41A2DC2" data-siteid="16" data-provinceid="3" data-districtid="0" data-wardid="0">
                        <div id="survey-question-form" class="main-form-programid447 survey-system-question-form-TopZone program_447 svelte-1n2apvk"><div class="crm-wrapper-survey"><div class="main-form" style="border-color: rgb(50, 50, 50);"><div id="crm-question-form-null-447"><div class="flex-container svelte-cktoy5"><div class="crm-ask-and-answer_survey_system flex-reverse-direction"><div class="wrap_question_survey_system"><div class="crm-ask" style="text-align: left;"><span class="question-name" style="font-style: normal; font-weight: 600; font-size: 13px; line-height: 18px; color: rgb(81, 87, 100); flex: 0 0 auto; order: 0;">Bạn  có hài lòng với thông tin sản phẩm không?</span></div></div> <div id="wrap_lst_answer_questionid1294" class="wrap_lst_answer_Horizontal svelte-cktoy5"><div id="div-button-crm-survey" class="svelte-unsrhu"><div class="wrap_anwser_survey_system_survey_system svelte-13ainzo" style="width: 100%;float: left; --backgroundColorMain:#323232"><div key="5054" class="answer-input dflex svelte-13ainzo" style="height: 100%;"><button class="crmsurvey-btnanswer-icon svelte-13ainzo" style="border-color: rgb(50, 50, 50);"><div style="flex: 1 0 0%;"><img src="https://cdn.tgdd.vn/crmweb/survey/img/icon-happy.png" alt="radio_5054" class="hoverScale transition-hover surver-img-hasIcon svelte-13ainzo"></div> <div style="flex: 1 0 0%;"><span class="surver-text-hasIcon svelte-13ainzo" style="line-height: 20px;">Hài lòng</span></div></button></div></div><div class="wrap_anwser_survey_system_survey_system svelte-13ainzo" style="width: 100%;float: left; --backgroundColorMain:#323232"><div key="5055" class="answer-input dflex svelte-13ainzo" style="height: 100%;"><button class="crmsurvey-btnanswer-icon svelte-13ainzo" style="border-color: rgb(50, 50, 50);"><div style="flex: 1 0 0%;"><img src="https://cdn.tgdd.vn/crmweb/survey/img/icon-bad.png" alt="radio_5055" class="hoverScale transition-hover surver-img-hasIcon svelte-13ainzo"></div> <div style="flex: 1 0 0%;"><span class="surver-text-hasIcon svelte-13ainzo" style="line-height: 20px;">Không hài lòng</span></div></button></div></div></div> <div id="div-text-crm-survey" class="svelte-unsrhu"></div> <div></div> </div></div></div>  <div id="crmspantextinputerror"></div> </div> <div id="main-form-tks-programid-null-447"></div></div></div></div>
                    </div>
                    <link href="//cdn.tgdd.vn/crmweb/survey/js/survey.min.v202407011010.css" rel="stylesheet" type="text/css">
                    <script defer="defer" async="async" src="//cdn.tgdd.vn/crmweb/survey/js/survey.min.v202407011010.js"></script>



                </div>

                <div class="bg-article"></div>
                <a href="javascript:;" class="btn-detail" onclick="$('.description').removeClass('short');$(this).remove();$('.bg-article').remove();$('.text-detail').addClass('expand')"><span>Xem thêm</span></a>
            </div>
        </div>




        <div class="wrap_rating wrap_border" data-ismb="false" data-objectid="242826" data-objecttype="2" data-irt="true" data-siteid="16" data-urlimg="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-xanh-tn-650x650.png" data-url="http://www.topzone.vn/loa/bluetooth-jbl-go-3-xanh-den" data-title="Loa Bluetooth JBL Go 3">
            <div class=" bg-coverrate"></div>
            <div class="rating-topzone rc-topzone">

                <div class="rating-topzonecr-uncmt">
                    <h2 class="rating-topzonecr-title">
                        Đánh giá sản phẩm này
                    </h2>
                    <h3>Nếu đã mua sản phẩm này tại TopZone. Hãy đánh giá ngay để giúp hàng ngàn người chọn mua hàng tốt nhất bạn nhé!</h3>
                    <ul class="rating-topzonecr-star">
                        <li data-val="1" class="click-openpopup">
                            <i class="iconcmt-unstarlist"></i>
                            <p data-val="1">Rất tệ</p>
                        </li>
                        <li data-val="2" class="click-openpopup">
                            <i class="iconcmt-unstarlist"></i>
                            <p data-val="2">Tệ</p>
                        </li>
                        <li data-val="3" class="click-openpopup">
                            <i class="iconcmt-unstarlist"></i>
                            <p data-val="3">Tạm ổn</p>
                        </li>
                        <li data-val="4" class="click-openpopup">
                            <i class="iconcmt-unstarlist"></i>
                            <p data-val="4">Tốt</p>
                        </li>
                        <li data-val="5" class="click-openpopup">
                            <i class="iconcmt-unstarlist"></i>
                            <p data-val="5">Rất tốt</p>
                        </li>
                    </ul>
                </div><div class="popup-rating-topzone" style="display: none;">
                    <div class="close-rate"></div>
                    <p class="txt">Đánh giá sản phẩm</p>
                    <div class="bproduct">
                        <div class="img">
                            <img src="https://cdn.tgdd.vn/Products/Images/2162/242826/s16/bluetooth-jbl-go-3-xanh-xanh-tn-650x650.png" alt="Loa Bluetooth JBL Go 3">
                        </div>

                        <h3>Loa Bluetooth JBL Go 3</h3>
                    </div>
                    <ul class="rating-topzonecr-star">
                        <li data-val="1">
                            <i class="iconcmt-unstarlist active"></i>
                            <p data-val="1">Rất tệ</p>
                        </li>
                        <li data-val="2">
                            <i class="iconcmt-unstarlist active"></i>
                            <p data-val="2">Tệ</p>
                        </li>
                        <li data-val="3">
                            <i class="iconcmt-unstarlist active"></i>
                            <p data-val="3">Tạm ổn</p>
                        </li>
                        <li data-val="4">
                            <i class="iconcmt-unstarlist active"></i>
                            <p data-val="4" class="active-slt">Tốt</p>
                        </li>
                        <li data-val="5">
                            <i class="iconcmt-unstarlist"></i>
                            <p data-val="5">Rất tốt</p>
                        </li>
                    </ul>
                    <form action="" class="form-rate">
                        <div class="inputrating__group">
                            <textarea class="fRContent" name="fRContent" placeholder="Mời bạn chia sẻ thêm cảm nhận..."></textarea>
                            <div class="txtcount__box">
                                <span class="ct" style="display: none;">0 chữ</span>
                            </div>
                        </div>

                        <div class="form-column">


                            <div class="upload__box  ">
                                <div class="upload__btn-box">
                                    <label class="upload__btn">
                                        <a href="javascript:void(0)" class="send-img">
                                            <i class="iconcmt-camera"></i>
                                            <p>Gửi ảnh thực tế <span>(tối đa 3 ảnh)</span></p>
                                        </a>
                                        <input id="hdFileRatingUpload" name="hdfRatingImg" type="file" multiple="" accept="image/x-png, image/gif, image/jpeg" data-max_length="3" class="upload__inputfile hide">

                                        <input type="hidden" name="hdfRatingImg" id="hdfRatingImg" class="hdfRatingImg" value="">
                                        <input type="hidden" name="hdUrl" value="http://www.topzone.vn/loa/bluetooth-jbl-go-3-xanh-den">
                                    </label>
                                </div>
                                <div class="upload__img-wrap hide"></div>
                            </div>

                            <div class="agree"><span></span><p>Tôi sẽ giới thiệu sản phẩm cho bạn bè, người thân</p></div>
                        </div>

                        <div class="item">
                            <input type="text" class="fRName" name="fRName" placeholder="Họ tên (bắt buộc)">
                            <input type="text" class="fRPhone" onkeypress="validateOnlyNumber(event)" name="fRPhone" placeholder="Số điện thoại (bắt buộc)">
                            <input type="hidden" name="hdfProductID" value="242826">
                            <input name="submit" type="hidden">
                            <div class="agree custom-cursor-on-hover" id="agree-policy-rating">
                                <span></span><p>Tôi đồng ý với <a href="/chinh-sach-xu-ly-du-lieu-ca-nhan" target="_blank">Chính sách xử lý dữ liệu cá nhân</a> của TopZone</p>
                            </div>
                        </div>

                        <button type="button" id="submitrt" class="submit send-rate disabled" style="display: none;">Gửi đánh giá</button><div class="dcap"><button type="button" id="submitrt" class="submit send-rate disabled">Gửi đánh giá</button></div>

                        <p class="intro-txt"><a target="&quot;_blank&quot;" href="/quy-dinh-dang-binh-luan">Quy định đánh giá</a><a href="/bao-mat-thong-tin">Chính sách bảo mật thông tin</a></p>

                        <div>
                            <input id="g-recaptcha-response_captcha_1066695713" name="g-recaptcha-response" type="hidden"><script>
                                                                                                                              var onloadCallbackcaptcha_1066695713 = function () {
                                                                                                                                  var form = $('input[id="g-recaptcha-response_captcha_1066695713"]').closest('form');
                                                                                                                                  var btn = $(form.find('.submit')[0]);
                                                                                                                                  btn.after("<div class='dcap'></div>");

                                                                                                                                  var loaded = false;
                                                                                                                                  var isBusy = false;
                                                                                                                                  btn.clone(false, false).unbind('click').on('click', function (e) {

                                                                                                                                      if (!isBusy) {
                                                                                                                                          isBusy = true;
                                                                                                                                          grecaptcha.execute('6LdjGgcaAAAAAJQ8ucRoMhdyKXlUxGdrEycRnACr', { 'action': 'SubmitRatingComment' }).then(function (token) {
                                                                                                                                              $('#g-recaptcha-response_captcha_1066695713', form).val(token);
                                                                                                                                              loaded = true;
                                                                                                                                              isBusy = false;
                                                                                                                                              btn.click();
                                                                                                                                          });
                                                                                                                                      }
                                                                                                                                      return loaded;
                                                                                                                                  })
                                                                                                                                      .prependTo(form.find('.dcap')[0]).each(function () {
                                                                                                                                          btn.hide();
                                                                                                                                      });

                                                                                                                              }
                            </script><script async="" defer="" src="https://www.google.com/recaptcha/api.js?onload=onloadCallbackcaptcha_1066695713&amp;render=6LdjGgcaAAAAAJQ8ucRoMhdyKXlUxGdrEycRnACr&amp;hl=vi"></script><style>
                                                                                                                                                                                                                                .grecaptcha-badge {
                                                                                                                                                                                                                                    display: none !important;
                                                                                                                                                                                                                                }</style>
                        </div>

                    </form>
                </div>
                <div class="bgcover-errorForm"></div>

                <div class="popup-errorForm">
                    <p class="content">Cảm nhận về sản phẩm chưa được nhập, bạn sẵn lòng chia sẻ thêm chứ?</p>
                    <div class="btn-errorForm">
                        <span class="unsend-rate" onclick="popupNotiHide()">Không, gửi đánh giá</span>
                        <span class="ctnsend-rate ctnsend-continue">Có, viết cảm nhận</span>
                    </div>
                </div>

                <div class="popup-errorForm popup-incomplete">
                    <p class="content">Chờ đã! Bạn chưa gửi đánh giá của mình, bạn có muốn gửi đi không?</p>
                    <div class="btn-errorForm">
                        <span class="unsend-rate" onclick="popupNotiHide()">Có</span>
                        <span class="ctnsend-rate">Không</span>
                    </div>
                </div>

                <div class="bgcover-success"></div>
                <div class="popup-success">
                    <h3 class="txt"><b>Cảm ơn bạn đã đánh giá sản phẩm</b></h3>
                    <p class="content">Hệ thống sẽ kiểm duyệt đánh giá của bạn về <b>Loa Bluetooth JBL Go 3</b> và đăng lên sau 24h nếu phù hợp với <a href="/quy-dinh-dang-binh-luan">quy định đánh giá</a></p>
                    <div class="close-popup-success" onclick="popupSuccessHide()">Đóng</div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.filtering').slick({
                slidesToShow: 5,
                slidesToScroll: 2,
                arrows: true,

            });



        });


    </script>
}
