@model Store.WebService.ViewModels.vmProduct
<div class="tabs">
    <h2 class="tab-link current" data-tab="tab-1">Mô tả</h2>
    <h2 class="tab-link " data-tab="tab-2">Thông số kỹ thuật</h2>
</div>
<div class="description tab-content current content short" id="tab-1">
    <div class="text-detail ">
        <h3>@Model.Description</h3>
        <!-- Khảo sát -->
        <div class="survey-wrap">

            <div class="crm-survey-render" data-type="QUESTION_FORM" data-applicationid="1" data-programid="447" data-attributeid-2="" data-programcode="7FAF6E1E41A2DC2" data-siteid="16" data-provinceid="3" data-districtid="0" data-wardid="0">
                <div id="survey-question-form" class="main-form-programid447 survey-system-question-form-TopZone program_447 svelte-1n2apvk"><div class="crm-wrapper-survey"><div class="main-form" style="border-color: rgb(50, 50, 50);"><div id="crm-question-form-null-447"><div class="flex-container svelte-cktoy5"><div class="crm-ask-and-answer_survey_system flex-reverse-direction"><div class="wrap_question_survey_system"><div class="crm-ask" style="text-align: left;"><span class="question-name" style="font-style: normal; font-weight: 600; font-size: 13px; line-height: 18px; color: rgb(81, 87, 100); flex: 0 0 auto; order: 0;">Bạn  có hài lòng với thông tin sản phẩm không?</span></div></div> <div id="wrap_lst_answer_questionid1294" class="wrap_lst_answer_Horizontal svelte-cktoy5"><div id="div-button-crm-survey" class="svelte-unsrhu"><div class="wrap_anwser_survey_system_survey_system svelte-13ainzo" style="width: 100%;float: left; --backgroundColorMain:#323232"><div key="5054" class="answer-input dflex svelte-13ainzo" style="height: 100%;"><button class="crmsurvey-btnanswer-icon svelte-13ainzo" style="border-color: rgb(50, 50, 50);"><div style="flex: 1 0 0%;"><img src="https://cdn.tgdd.vn/crmweb/survey/img/icon-happy.png" alt="radio_5054" class="hoverScale transition-hover surver-img-hasIcon svelte-13ainzo"></div> <div style="flex: 1 0 0%;"><span class="surver-text-hasIcon svelte-13ainzo" style="line-height: 20px;">Hài lòng</span></div></button></div></div><div class="wrap_anwser_survey_system_survey_system svelte-13ainzo" style="width: 100%;float: left; --backgroundColorMain:#323232"><div key="5055" class="answer-input dflex svelte-13ainzo" style="height: 100%;"><button class="crmsurvey-btnanswer-icon svelte-13ainzo" style="border-color: rgb(50, 50, 50);"><div style="flex: 1 0 0%;"><img src="https://cdn.tgdd.vn/crmweb/survey/img/icon-bad.png" alt="radio_5055" class="hoverScale transition-hover surver-img-hasIcon svelte-13ainzo"></div> <div style="flex: 1 0 0%;"><span class="surver-text-hasIcon svelte-13ainzo" style="line-height: 20px;">Không hài lòng</span></div></button></div></div></div> <div id="div-text-crm-survey" class="svelte-unsrhu"></div> <div></div> </div></div></div>  <div id="crmspantextinputerror"></div> </div> <div id="main-form-tks-programid-null-447"></div></div></div></div>
            </div>
            <link href="//cdn.tgdd.vn/crmweb/survey/js/survey.min.v202407011010.css" rel="stylesheet" type="text/css">
            <script defer="defer" async="async" src="//cdn.tgdd.vn/crmweb/survey/js/survey.min.v202407011010.js"></script>
        </div>
        <div class="bg-article"></div>
        <a href="javascript:;" class="btn-detail" onclick="$('.description').removeClass('short');$(this).remove();$('.bg-article').remove();$('.text-detail').addClass('expand')"><span>Xem thêm</span></a>
    </div>
</div>
<div class="specifications tab-content " id="tab-2">
    <div class="box-specifi ">
        <a href="javascript:;" class="active" data-group-id="2661" data-index="1"><h3>Thông tin chung</h3></a>
        <ul class="text-specifi active">
            <li>
                <aside>
                    <strong>Loại sản phẩm:</strong>
                </aside>
                <aside>
                    <span class="">@Model.CategoryName</span>
                </aside>
            </li>
            @foreach( var productAttribute in Model.ProductAttributes)
            {
                <li>
                    <aside>
                        <strong>@productAttribute.AttributeValue.AttributeName:</strong>
                    </aside>
                    <aside>
                        <span class="">@productAttribute.AttributeContent</span>
                    </aside>
                </li>
            }
        </ul>
    </div>

</div>
